.mc4e-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-top: 14px;
	flex-wrap: wrap;

	button {
		padding: 7px 0;
		min-width: 34px;
		border: 1px solid #d1d5db;
		border-radius: 6px;
		background: #fff;
		color: #111827;
		font-size: 13px;
		line-height: 1;
		font-weight: 600;
		cursor: pointer;
		transition: all 0.2s ease;

		&:hover:not(:disabled) {
			background: #f3f4f6;
		}

		&:disabled {
			opacity: 0.45;
			cursor: not-allowed;
		}

		&.mc4e-pagination-btn {
			padding: 7px 8px
		}

		&.mc4e-pagination-page {
			&.is-active {
				background: #111827;
				color: #fff;
				border-color: #111827;
				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
}

.mc4e-pagination-pages {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 6px;
}

.mc4e-pagination-break {
	padding: 0 4px;
	color: #6b7280;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	user-select: none;
	align-self: center;
}

@media (max-width: 767px) {
	.mc4e-pagination-pages {
		display: none;
	}
}
