// Meta Key Select control (Content Layout > Post Meta Display repeater)

.mc4e-metakey-select-container {
	width: 100%;
}

.mc4e-metakey-select-wrapper {
	width: 100%;

	.mc4e-ps__control {
		width: 100%;
	}
}
