@mixin rating-stars {
	
	.rating-wrapper {

		.rating-stars {
			display: flex;
			position: relative;
			width: 100px;
			height: 20px;
			overflow: hidden;

			.rated-perc {
				position: absolute;
				display: flex;
				z-index: 1;
				top: 0;
				left: 0;
				width: 100%;
				overflow: hidden;
				align-items: flex-start;
				justify-content: flex-start;

				.stars {
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					flex-direction: row;
					.star {
						background: #F8CA00;
					}
				}
			}
			.stars {

				&.placeholder {
					position: absolute;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					top: 0;
					left: 0;
					z-index: 0;
					width: 100%;
					.star {
						background: #a0a0a0;
					}
				}
			}
			.star {
				width:20px;
				aspect-ratio: 1;

				clip-path: polygon(50% 0,
					calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
					calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
					calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
					calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn)))
				);
				/* or more simple
				clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
				*/
			}
			.review-count {
				color: inherit;
			}

		} //end .rating-stars
	}
	//end .rating-wrapper
}

@mixin sale-badge {

	.sale-badge-wrapper {
		--b: 100%; /* base for tag shape */
		--h: 5%; /* height for tag shape */

		position: absolute;
		z-index: 5;
		// Default position (will be overridden by inline styles from focal point control)
		left: 10%;
		top: 10%;
		// Transform to center the badge on the focal point
		transform: translate(-50%, -50%);

		.sale-badge {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.6ch 1.4ch;
			width: 100%;
			text-align: center;
			background: red;
			color: white;
			span {
				font-weight: bold;
			}
		}

		// Override for single post type layout.
		&.single {
			top: 0;
			left: 0;
			transform: none;
			position: relative;
			padding: 0.6ch 1.4ch;
			
			.sale-badge {
				background: transparent;
				color: inherit;
				padding: 0;
			}
		}

		.square {
			aspect-ratio: 1;
		}
		.square-rounded {
			aspect-ratio: 1;
			border-radius: 5px;
		}
		.starburst {
			aspect-ratio: 1;
			padding: 1em;
			clip-path: polygon(100% 50%,86.71% 59.84%,93.3% 75%,76.87% 76.87%,75% 93.3%,59.84% 86.71%,50% 100%,40.16% 86.71%,25% 93.3%,23.13% 76.87%,6.7% 75%,13.29% 59.84%,0% 50%,13.29% 40.16%,6.7% 25%,23.13% 23.13%,25% 6.7%,40.16% 13.29%,50% 0%,59.84% 13.29%,75% 6.7%,76.87% 23.13%,93.3% 25%,86.71% 40.16%);
		}
		.tag {
			clip-path: polygon(0 0,100% 0,100% calc(50% - var(--b)/2),calc(100% - var(--h)) 50%,100% calc(50% + var(--b)/2),100% 100%,0 100%,0 calc(50% + var(--b)/2),var(--h) 50%,0 calc(50% - var(--b)/2));
		}
		.circle {
			aspect-ratio: 1;
			padding: 1em;
			clip-path: circle(50% at 50% 50%);
		}
		.rounded {
			border-radius: 5px;
		}

	}
}
